
.box {
  background-color: rgb(79, 152, 67);
  font-family: 'Evermore', sans-serif;
}

.border-page img {
  width: 100%;
}

.pack {
  width: 90%;
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 48px; /* Smaller default size */
  color: white;
  margin-bottom: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

/* Step Card Styling */
.step-card {
  display: flex;
  background-color: #28501f;
  margin-top: 30px;
  border-radius: 0 30px 0 30px;
  border: 2px solid white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  align-items: center;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.icon-wrapper {
  display: flex;
  width: 100px;
  height: 100%;
  align-items: center;
  margin-bottom: 20px; /* Adds spacing for mobile */
}

.icon-wrapper img {
  display: flex;
}

.content h2 {
  font-size: 28px;
  margin: 0 0 10px;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.content p {
  font-family: "Comfortaa", sans-serif;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  text-align: center;
}



@media (min-width: 300px) {
  .pack {
    width: 90%;
  }

  .step-card {
    flex-direction: column; /* Switch to row layout */
    align-items: flex-start;
    padding: 10px;
    height: fit-content;
  }

  .icon-wrapper {
    width: fit-content; /* Resize icon wrapper */
    margin-bottom: 10px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-wrapper img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: visible;
  }

  .content {
    width: fit-content;
    text-align: center;
    margin-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 30px; /* Increase font size for larger screens */
    margin-bottom: 30px;
  }

  .content h2 {
    font-size: 14px;
  }

  .content p {
    font-size: 13px;
    text-align: center;
  }
}

@media (min-width: 500px) {
  .pack {
    width: 80%;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .icon-wrapper img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 670px) {
  .step-card {
    flex-direction: row; /* Switch to row layout */
    align-items: flex-start;
    padding: 20px 40px;
    height: fit-content;
  }

  .icon-wrapper {
    width: 30%; /* Resize icon wrapper */
    margin-bottom: 0;
    padding: 0;
  }

  .icon-wrapper img {
    width: 110px;
    height: 90px;
  }

  .content {
    width: fit-content;
    text-align: start;
    margin-left: 50px;
  }

  h1 {
    font-size: 50px; /* Increase font size for larger screens */
    margin-bottom: 50px;
  }

  .content h2 {
    font-size: 14px;
  }

  .content p {
    font-size: 13px;
    text-align: start;
  }
}

@media (min-width: 750px) {

  .step-card {
    padding: 20px 60px;
  }

  .icon-wrapper img {
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 900px) {

  .icon-wrapper {
    width: 20%;
  }

  .content h2 {
    font-size: 18px;
  }

  .content p {
    font-size: 15px;
  }
}


@media (min-width: 1120px) {

  .content {
    width: 800px;
  }
}

/* Layout for larger screens */
@media (min-width: 1150px) {

  .step-card {
    height: 13rem;
  }

  .icon-wrapper {
    width: 14%;
    padding-left: 20px;
  }

  .icon-wrapper img {
    width: 80%;
  }

  .content h2 {
    font-size: 23px;
  }

  .content p {
    font-size: 17px;
  }
}

/* Extra content section (iframe and image) */
.extras {
  margin-top: 40px;
}

.extras-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;

}

.iframe-wrapper,
.image-wrapper {
  width: 100%;
  max-width: 520px;
}

.iframe-wrapper iframe,
.image-wrapper img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: none;
  object-fit: contain;
}

@media (min-width: 450px) {
  .extras-item {
    width: 80%;
  }
}

@media (min-width: 710px) {
  .extras-item {
    padding-left: 30px;
  }
}

@media (min-width: 720px) {
  iframe {
    overflow: hidden;
    width: 100%;
    height: 500px;
    border: none;
}

iframe::-webkit-scrollbar {
    display: none;
}

iframe {
    scrollbar-width: none;
}

iframe {
    -ms-overflow-style: none;
}

.extras-item {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
}

}

@media (min-width: 900px) {
  .extras-item {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}



@media (min-width: 1310px) {
  .extras-item {
    gap: 50px;
    width: 100%;
  }
}