/* Base Styles */
.background {
    background-color: rgb(79, 152, 67);
    font-family: "Noto Serif Grantha", serif;
}

.d-flex {
    display: flex;
    flex-direction: column; /* Stack items vertically by default for mobile */
    align-items: center;
}

.full {
    width: 100%;
}

.main {
    width: 90%; /* Adjusted for smaller screens */
    max-width: 1200px; /* Adds a max width on large screens */
    display: flex;
    flex-direction: column; /* Column layout for mobile by default */
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 24px;
}

.main img {
    padding-top: 20px;
    width: 300px;
    height: auto;
}

.header-text {
    font-family: 'Evermore', sans-serif;
    font-size: 2em; /* Smaller font size for mobile */
    text-align: center;
    margin-top: 20px;
    color: white;
}

.review {
    font-size: 18px; /* Smaller font size for mobile */
    margin: 10px 0;
    width: 100%;
    line-height: 1.5;
    color: white;
    font-family: "Helvetica W01 Roman", sans-serif;
}
@media only screen and (max-width: 400px) {
    .review {
        font-size: 14px;
    }
}

@media only screen and (max-width: 810px) {
    .order-2 {
        order: 2;
    }

    .order-1 {
        order: 1;
    }
}


/* Media Queries for larger screens */
@media (min-width: 780px) {
    .main {
        flex-direction: row; /* Row layout for larger screens */
        width: 80%; /* Adjust width for tablets */
    }

    .header-text {
        font-size: 48px; /* Increase font size for tablets */
        padding-right: 70px;
    }

    .review {
        font-size: 20px;
        width: 90%;
        
    }
}

@media (min-width: 1024px) {
    .main {
        width: 60%; /* Further reduce width for large screens */
    }

    .header-text {
        font-size: 60px; /* Original font size for desktops */
        position: relative;
        bottom: 40px;
    }

    .review {
        font-size: 23px;
        width: 80%;
        margin: 0 auto;
        position: relative;
        bottom: 40px;
    }
}
