@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
    width: 100%;
    background-color: rgb(79, 152, 67);
    height: 8vw;
    border-bottom: 3px solid rgba(6, 24, 7, 0.34);
    font-family: 'Evermore', sans-serif;
    letter-spacing: 1px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5vw;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .nav-links a:hover {
    color: #b3b2b2;
  }

  .home {
    color: #b3b2b2 !important;
  }
  
  .buy-now {
    background-color: rgb(79, 152, 67);
    color: white;
    border: 1px white solid;
    padding: 1.3% 3em;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 600;
  }
  
  .buy-now:hover {
    background-color: rgb(96, 187, 82);
  }
  .contai {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    max-width: 1280px;
  }

  .mobile-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    z-index: 200; /* Increase z-index to bring to front */
    position: relative; /* Ensure it respects z-index layering */
}

  .packet {
    background-color: rgb(96, 187, 82);
    border: none;
  }

  @media screen and (max-width: 1760px){
   .nav-links a {
    font-size: 0.6em;
   } 
  }

  @media screen and (max-width: 1630px){
    .contai {
      width: 80%;
    }
    .nav-links a {
      font-size: 0.7em;
     }
  }
  
  @media screen and (max-width: 1280px){
    .contai {
      width: 98%;
    }
    .navbar {
      height: 100px;
    }
  }

  /* Media Queries for Mobile */
  @media screen and (max-width: 1020px) {
    .nav-links {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
      position: relative;
      z-index: 200;
  }

    .packet {
    background-color: rgb(96, 187, 82);
    border: none;
  }

  .packet :focus {
    position: absolute;
    top: 20px;
    right: 200px;
    z-index: 1000;
  }
    .buy-now {
      display: none;
    }

    .home {
      color: #76ea8d !important;
    }

    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(96, 187, 82);
      z-index: 100; /* Lower than mobile-menu-icon */
      padding-top: 80px;
  }
    
    .nav-links-mobile.show {
      animation: slide-down 0.7s ease-out forwards; /* Reapply animation on toggle */
    }
    
    .nav-links-mobile li {
      margin: 20px 0;
      padding-left: 20px;
    }
    
    .nav-links-mobile li a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }

    .bl-col {
      color: black;
    }
  }
  
  @media screen and (max-width: 625px) {
    .nav-links-mobile li {
      padding: 0;
      text-align: center;
    }
  }

