@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Sen:wght@400..800&family=Xanh+Mono:ital@0;1&display=swap');

/* General container styling */
.container-fluid {
  background-color: rgb(79, 152, 67);
  
}

.tokenomics-container {
  color: white;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-family: 'Evermore', sans-serif;
}

/* Title styling */
.tokenomics-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

/* Box content layout */
.box-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: flex-start;
  gap: 60px;
  max-width: 1280px;
  margin-top: 50px;
}

/* Token Supply styling */
.token-supply {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.supply-amount {
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 1px;
  text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

/* Details box styling */
.details-box {
  font-family: "Comfortaa", sans-serif;
  background-color: #114a14;
  padding: 20px;
  border-radius: 0 25px 0 25px;
  border: 2px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.details-box p {
  font-size: 24px;
  text-align: start;
}

/* Chart container styling */
.chart-circle {
  padding-top: 70px;
}

/* Pepe image styling */
.pepe-image {
  width: 90%;

}

.border-page img {
  width: 100%;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1240px) {
    .tokenomics-title {
      font-size: 30px;
    }
    .supply-amount {
      font-size: 20px;
    }
    .details-box p {
      font-size: 17px;
    }
}
/* Medium screens (tablets) */
@media (max-width: 1160px) {
  .tokenomics-title {
    font-size: 2rem;
  }

  .supply-amount {
    font-size: 1.2rem;
  }

  .details-box {
    font-size: 1rem;
  }

  .box-content {
    width: 80%;
  }
}
@media (max-width: 880px) {
  .tokenomics-title {
    font-size: 1.5rem;
  }
  .supply-amount {
    font-size: 1rem;
  }
  .details-box p {
    font-size: 0.8rem;
  }
}


/* Small screens (mobile devices) */
@media (max-width: 768px) {
  .tokenomics-title {
    font-size: 3rem;
  }

  .supply-amount {
    font-size: 1.3rem;
  }

  .box-content {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .details-box p {
    width: 100%;
    font-size: 1rem;
  }

  .pepe-image {
    width: 300px;
  }
}

/* Extra small screens (mobile devices) */
@media (max-width: 576px) {

  .box-content {
    margin-top: 20px;
    gap: 0;
  }
  .tokenomics-title {
    font-size: 2rem;
    margin-top: 20px;
  }

  .supply-amount {
    font-size: 1.1rem;
    max-width: 100%;
  }

  .details-box p{
    font-size: 1.5rem;
  }

  .details-box{
    padding: 10px;
  }
  .chart-circle {
    padding-top: 40px;
  }

  .pepe-image {
    width: 250px;
  }
}
